<p id="notice"><%= notice %></p>

<div class="failed-charges">
  <h1>Failed Charges</h1>
  <table>
    <thead>
      <tr>
        <th>Customer</th>
        <th>Amount</th>
        <th>Date Failed</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @failed_charges.each do |charge| %>
        <tr class='failed-charge'>
          <td><%= charge.chargeable.name %></td>
          <td><%= charge.amount %></td>
          <td><%= charge.updated_at %></td>
          <td><%= link_to 'Show', charge %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="disputed-charges">
  <h1>Disputed Charges</h1>
  <table>
    <thead>
      <tr>
        <th>Customer</th>
        <th>Amount</th>
        <th>Date Disputed</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @disputed_charges.each do |charge| %>
        <tr class='disputed-charge'>
          <td><%= charge.chargeable.name %></td>
          <td><%= charge.amount %></td>
          <td><%= charge.updated_at %></td>
          <td><%= link_to 'Show', charge %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="successful-charges">
  <h1>Successful Charges</h1>
  <table>
    <thead>
      <tr>
        <th>Customer</th>
        <th>Amount</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @successful_charges.each do |charge| %>
        <tr class='successful-charge'>
          <td><%= charge.chargeable.name %></td>
          <td><%= charge.amount %></td>
          <td><%= link_to 'Show', charge %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


<br>

<%= link_to 'New Charge', new_charge_path %>
