<p id="notice"><%= notice %></p>

<%= render partial: 'charges', locals: {charges: @failed_charges, status: 'failed'} %>

<%= render partial: 'charges', locals: {charges: @disputed_charges, status: 'disputed'} %>

<%= render partial: 'charges', locals: {charges: @successful_charges, status: 'successful'} %>

<br>
<div class="new-charge">
  <%= link_to 'New Charge', new_charge_path, remote: true %>
</div>
